.main-content {
    margin: 1%;
    padding: 1%;
    background-color: #ffffff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
}
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 7px;
    padding-left: 20px;
}

[class*='col-']{
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.song-item {
    border: 2px solid lightpink;
    border-radius: 10px;
    margin:10px;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}
.song-item:after {
    content: '';
    clear: both;
    display: table;
}
.song-index {
    float: left;
    width: 5%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 3%;
    padding-left: 1%;
    color: gray;
}
.song-thumbnail {
    float: left;
    width: 8%;
}
.song-thumbnail img {
    width: 100%;
}
.song-infor {
    margin-left: 2%;
    padding-top: 2%;
    float: left;
    width: 35%;
}
.song-infor .song-name {
    font-weight: bold;
    color: #ff4d4d;
}
.song-infor .song-singer {
    font-weight: lighter;
    font-size: smaller;
    color: gray;
}
.song-infor .song-author {
    font-weight: lighter;
    font-size: smaller;
    color: gray;
}
.song-control {
    padding-top: 3%;
    padding-right: 1%;
    cursor: pointer;
    float: left;

}
.far {
    color: lightpink;
    font-size: 30px;
}
.fas {
    color: lightpink;
    font-size: 30px;
}
.footer {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: gray;
}
/*@media only screen and (min-width: 768px) {*/
    /*!* For desktop: *!*/
    /*.col-1 {width: 8.33%;}*/
    /*.col-2 {width: 16.66%;}*/
    /*.col-3 {width: 25%;}*/
    /*.col-4 {width: 33.33%;}*/
    /*.col-5 {width: 41.66%;}*/
    /*.col-6 {width: 50%;}*/
    /*.col-7 {width: 58.33%;}*/
    /*.col-8 {width: 66.66%;}*/
    /*.col-9 {width: 75%;}*/
    /*.col-10 {width: 83.33%;}*/
    /*.col-11 {width: 91.66%;}*/
    /*.col-12 {width: 100%;}*/
/*}*/