
.msg-error {
    color: red;
}

.msg-success {
    color: #3d9e66;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*='col-']{
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightpink;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: lightpink;
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}
.container{
    font-style: italic;
    width: 35%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2em;
}
h1{
    text-align: center;
}
a {
    text-decoration: none;
    color: #423F63;
    transition: 0.5s;
    font-size: 15px;
}
a:hover {
    color: #56318C;
    font-size: 18px;
}
* {box-sizing:border-box}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    width: 1000px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
input {
    width: 66%;
    padding: 2%;
    display: inline-block;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    font-size: 14px;
}
input[type=button], input[type=reset]{
    width: 20%;
    background-color: darkgreen;
    color: white;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 2%;
    margin: 2%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
}
input[type=button]:hover, input[type=reset]:hover {
    background-color: #423F63;
    opacity: 1;
}
